
.nav-btn {
    border: .2rem solid #ffc600;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    text-shadow: 0 0 .5rem black;
    margin-left: 1rem;
    margin-top: .5rem;
    padding: 0;
}
    .nav-btn:hover {
        transform: scale(1.1);
        border-color: #ffc600;
        box-shadow: 0 0 1rem #ffc600;
    }