<div class="dj-area" @onkeydown="@OnKeyPressed" @ref="referal" tabindex="0">
    <div id="sound-buttons-area" class="keys" >

        @foreach (var pad in pads)
        {
            <SoundButton Pad="pad"></SoundButton>
        }
    </div>
</div>