@page "/"
<div class="main-window" @onkeydown="@OnKeyPressed" @ref="referal" tabindex="0">
    <h2>DJ-Stoyka</h2>
    <div id="sound-buttons-area" class="keys" >

        @foreach (var pad in pads)
        {
            <SoundButton Pad="pad"></SoundButton>
        }
    </div>
</div>