<div class="d-flex flex-column p-0 ml-0">
    <NavLink class="nav-link p-0" href="" style="width: fit-content;">
        <NavButton Value="dj-stand"> </NavButton>
    </NavLink>
    <NavLink class="nav-link p-0" href="history" style="width: fit-content;">
        <NavButton Value="history log"> </NavButton>
    </NavLink>
</div>